html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    flex: 1;
}
header{
	margin: 0px;
	height: 10%;
	background-color: black;
}
h1{
	text-align: center;
	color: aqua;
	margin: 0px;
}
.navigation{
	background-color: rgb(0, 217, 255);
	float: left;
	width: 20%;
	height: 80%;
}
.page{
	float: left;
	width: 80%;
}
footer{
	height: 10%;
	background-color: black;
	margin-bottom: 0px;
}